@use '../../../../styles/variables' as v;

.HeaderNav {
  @media (max-width: 768px) {
    display: none;
  }

  &-list {
    align-items: center;
    display: flex;
    gap: 4rem;

    &-item {
      color: v.$darkColor;
      font-family: v.$titleFont;
      font-size: 1rem;
      font-weight: 600;

      &-link {
        padding: 1.3rem 0.5rem;

        position: relative;
        &::after {
          background-color: v.$lightColor;
          content: '';
          height: 3px;
          left: 0;
          position: absolute;
          top: 97%;
          transition: width 0.3s;
          width: 0;
        }
        &:hover::after {
          width: 100%;
        }
        &.active::after {
          width: 100%;
          background-color: v.$darkColor;
        }
      }

      &-btn {
        background-color: transparent;
        border: none;

        &-icon {
          width: 1.5rem;
        }
      }
    }
  }
}
