@use '../../../../../styles/variables' as v;

.ProjectsFeatures {
  margin-bottom: 1rem;

  &-title {
    margin-bottom: 0.5rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;

    &-item {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
