# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Prettier config
.prettierignore

# ESLint config
.eslintignore

# Miscellaneous
*.sublime-workspace
*.sublime-project

# Test coverage
coverage/
*.lcov