@use '../../../../../styles/variables' as v;

.ProjectsContext {
  margin-bottom: 1rem;
  text-align: justify;

  &-title {
    margin-bottom: 0.5rem;
  }
  &-text {
    padding: 0 1rem;
    text-indent: 2rem;
  }
}
