@use '../../../../styles/variables' as v;

.ProjectsMain {
  margin: auto;
  padding: 4rem 2rem 2rem 8rem;
  width: 100%;

  @media (min-width: 1370px) {
    max-width: 1350px;
    padding-right: 6rem;
  }
}
