@use '../../../../styles/variables' as v;

.ProjectsMain {
  margin: auto;
  padding: 4rem 2rem 20rem 8rem;
  width: 100%;

  @media (min-width: 1370px) {
    max-width: 1350px;
    padding-right: 6rem;
  }

  @media (max-width: 645px) {
    padding: 4rem 1rem 2rem 6rem;
  }

  @media (max-width: 480px) {
    & p,
    & li {
      font-size: 0.8rem;
    }
  }
}
