@use '../../../../../styles/variables' as v;

.ProjectsBtn {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 4rem;

  &-icon {
    background-color: v.$backgroundColor;
    border-radius: 50%;
    border: 2px solid v.$darkColor;
    height: 4rem;
    padding: 0.1rem;
    position: relative;
    width: 4rem;

    @media (max-width: 645px) {
      height: 2.5rem;
      width: 2.5rem;
    }

    &:hover {
      transform: scale(1.35);
      transition: transform 0.3s;
    }
    transition: transform 0.3s;
  }
}
