@use '../../../../../styles/variables' as v;

.ResumeBtn {
  &-icon {
    background-color: v.$backgroundColor;
    border-radius: 50%;
    border: 2px solid v.$darkColor;
    position: relative;
    width: 2.25rem;

    &:hover {
      transform: scale(1.35);
      transition: transform 0.3s;
    }
    transition: transform 0.3s;
  }
}
