@use '../../../styles/variables' as v;

.Resume {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4rem - 1px);

  &-left {
    background-color: v.$backgroundColorT;
    border-right: 2px solid v.$backgroundColorDark;
    padding: 2rem 1rem 2rem 1rem;

    &-picture {
      border: 2px solid v.$darkColor;
      border-radius: 50%;
      height: 10rem;
      margin: 0 auto 1rem auto;
      overflow: hidden;
      width: 10rem;

      &-img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &-right {
  }
}
