@use 'reset';
@use 'variables' as v;

body {
  font-family: v.$mainFont;
  font-size: v.$textSize;
}

h1 {
  font-family: v.$titleFont;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: v.$titleFont;
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-family: v.$titleFont;
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-family: v.$titleFont;
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  line-height: 2ch;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: v.$backgroundColor;
}
::-webkit-scrollbar-thumb {
  background: v.$darkColor;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: v.$darkColor2;
}
