@use '../../styles/variables' as v;

.App {
  &-background {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: fixed;
  }
}
