@use '../../styles/variables' as v;

.App {
  &-background {
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: fixed;
    scroll-behavior: smooth;
    width: 100%;
  }
}
