@use '../../../../../styles/variables' as v;

.ProjectsDates {
  display: flex;
  gap: 1.5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;

  &-line {
    display: flex;
    gap: 1rem;

    &-start,
    &-end {
      align-items: end;
      display: flex;
      gap: 0.25rem;

      &-text {
        font-weight: 500;
      }
    }
  }
}
