@use '../../../styles/variables' as v;

.Credits {
  bottom: 5.5rem;
  font-size: 0.75rem;
  position: fixed;
  right: -5.2rem;
  rotate: 270deg;

  &-link {
    color: v.$backgroundColorDark;

    &:hover {
      color: v.$backgroundColor;
      transition: all 0.3s;
    }
    transition: all 0.3s;
  }
}
