@use '../../../styles/variables' as v;

.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem - 1px);
  padding-top: 7rem;
  text-shadow: 0 0 0.5rem black;

  @media (max-width: 810px) {
    padding-top: 2rem;
  }

  &-logo {
    align-items: center;
    display: flex;
    color: v.$backgroundColor;
    font-family: v.$titleFont;
    font-size: 2rem;
    gap: 1rem;
    margin-bottom: 6rem;

    @media (max-width: 810px) {
      flex-direction: column;
      margin-bottom: 4rem;
    }

    @media (max-width: 625px) {
      margin-bottom: 3rem;
    }

    &-svg {
      filter: drop-shadow(0 0 0.5rem black);
      height: 7.5rem;
    }

    &-text {
      width: 98%;
      @media (max-width: 810px) {
        text-align: center;
      }
    }
  }

  &-description {
    color: v.$backgroundColor;
    font-size: v.$textSize;
    line-height: 2.5ch;
    margin-bottom: 1rem;
    text-align: justify;
    width: 50%;

    @media (max-width: 1168px) {
      width: 75%;
    }

    &.last {
      padding-bottom: 7rem;
      text-align: right;
    }
  }
}
